.logo {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-family: "Oleo Script", cursive;
  color:aliceblue;
  padding-left: 1em;
  padding-top: 0.5em;
  font-size: 1.5em;
}

.header {
  position: sticky;
  top:0;
  z-index: 10;
  height: 40px;
  width: 98vw;
  margin: 0 auto;
  background-color: var(--headerBg);
  border-bottom: 1px solid var(--border);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 1px 5px #424141;
  display: flex;
}
